header {
  width: 100%;
  background: #fff;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

form {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid #000;
  border-radius: 2px;
  margin-right: 20px;
}

form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 2px;
  font-family: 'Nunito', sans-serif;
}

form input[type="submit"] {
  border: none;
  background: rgb(46, 97, 199);
  color: #fff;
  padding: 5px 20px;
  border-radius: 0 2px 2px 0;
  font-family: 'Nunito', sans-serif;
}

/* options list styles */
.options li {
  display: inline;
  margin-right: 10px;
}
